<h1>Managers</h1>

<table class="table table-striped">
  <thead>
    <tr><th>Name</th><th>Email</th><th>Role</th></tr>
  </thead>
  <tbody>
    <tr><td>John</td><td>john@myfab5.com</td><td>Admin</td></tr>
    <tr><td>Calvin</td><td>calvin@myfab5.com</td><td>Admin</td></tr>
  </tbody>
</table>
